.homelayout{
    background: #edeef0;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 1260px;
    padding-top: 20px;
    .col_one{
      width: 220px;
      .button__container{
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
    .col_two{
      width: 660px;
    }
    .col_three{
  
    }
  }
  .footer{
    width: 1240px;
    margin: 0 auto;
    padding: 10px;
  }
  
  