.game__strip {
  position: relative;
  .game__details {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    height: 20px;
    letter-spacing: 1px;
    padding: 0 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .cscore_notes_game {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .competitors {
    height: 67px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
    background: transparent;
    text-decoration: none;
    .team {
      .team__content {
        display: flex;
        align-items: center;
        .team__container {
          display: flex;
          align-items: center;
          .team__info {
            padding-right: 5px;
            text-align: right;
            line-height: 1;
            .team__info__wrapper {
              display: flex;
              justify-content: end;
              align-items: flex-end;
              .rank {
                display: block;
              }
              .team__name {
                font-weight: 600;
                line-height: 1.3;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #1d1e1f;
              }
            }
            .record {
              display: block;
            }
          }
          .team__info__logo {
            padding: 0 6px;
            text-align: center;
            .logo {
              img {
                vertical-align: top;
                width: 42px;
              }
            }
          }
        }
      }
    }
    .game__status {
      flex-shrink: 0;
      font-size: 14px;
      line-height: 1.2;
      padding: 0;
      position: relative;
      text-align: center;
      min-width: 109px;
      .game__date {
        color: #48494a;
        min-height: 16px;
        display: block;
        font-size: 12px;
        line-height: 1;
        padding: 2px 0;
        font-weight: 600;
      }
      .game__time {
        color: #6c6d6f;
        font-size: 10px;
        font-weight: normal;
        padding: 0;
        min-height: 10px;
      }
    }
  }
}
.gameblockOdds {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  padding-bottom: 12px;
  .oddsStripContent {
    border: 1px solid #cecfcf;
    border-radius: 4px;
    .accordion__header {
      border-radius: 4px;
      background: #fff;
      // font-family: "BentonSans";
      cursor: pointer;
      .oddsStrip {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 8px;
        border-radius: 4px;
        background: #f4f4f4;
        user-select: none;
        gap: 4px;
        img {
          height: 20px;
          width: 22px;
        }
        .bettingWrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
          position: relative;
          flex-grow: 1;
          flex-wrap: wrap;
          .betting {
            &:not(:last-child):after {
              content: "";
              display: inline-block;
              width: 3px;
              height: 3px;
              margin: 0 6px;
              border-radius: 10px;
              background: #6c6e6f;
              position: relative;
              top: -2px;
            }
            .bettingPrimary {
              color: #121213;
              font-size: 11px;
              font-style: normal;
              font-weight: 600;
              line-height: 13px;
            }
          }
        }
        .oddsStripCaret {
          cursor: pointer;
          &:before {
            position: relative;
            content: "";
            display: inline-block;
            border: solid #000000;
            border-width: 0 1px 1px 0;
            padding: 3px;
            transform: rotate(45deg);
            transition: transform 0.3s ease;
            top: -3px;
            height: 3px;
            width: 3px;
          }
        }
        &.active .oddsStripCaret:before {
          transform: rotate(225deg);
          top: 3px;
        }
      }
    }
    .accordion__content {
      .betSixPackContent {
        display: flex;
        padding: 8px;
        flex-direction: column;
        gap: 8px;
        border-radius: 0px 0px 4px 4px;
        background: #fff;
        .oddsGrid {
          display: grid;
          font-family: "BentonSans";
          font-size: 10px;
          gap: 4px;
          grid-template-columns: 1fr 88px 88px 88px 88px;
          padding: 4px 0px;
          .headerColumns {
            color: #6c6e6f;
            margin-bottom: 4px;
            text-align: center;
          }
          .firstHeader {
            font-size: 10px;
            font-weight: 500;
            margin-right: 4px;
            text-align: left;
            .headerLogo {
              height: 10px;
            }
          }
          .centerTable {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 4px;
            .first {
              .teamName {
                text-align: left;
                font-size: 14px;
                font-weight: 600;
                color: #121213;
              }
              .secondaryOdd {
                color: #6c6e6f;
                text-align: left;
                font-size: 10px;
                font-weight: 400;
              }
            }
          }
          .tableFirstColumn {
            justify-content: left;
          }
          .cellOpen {
            height: 40px;
            .odd {
              color: #121213;
              text-align: center;
              font-size: 11px;
              font-weight: 500;
            }
            .secondaryOdd {
              color: #6c6e6f;
              font-size: 10px;
              font-weight: 400;
            }
          }
          .cellWrapper{
            .oddsTableCell {
              background: #F4F4F4;
              border: 1px solid #CECFCF;
              border-radius: 4px;
              height: 40px;
              margin: auto;
              width: 88px;
              .oddsTableCellFlex{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                .primaryOdd{
                  color: #3772df;
                }
                .oddsAlt{
                  color: #6C6E6F;
                }
              }
            }
          }
        }
      }
    }
  }
}
