.headlineStack__header {
  display: flex;
  gap: 8px;
  padding-bottom: 8px;
  border-bottom: #dcdddf 1px solid;
  .module__header {
    color: #1d1e1f;
    font-size: 12px;
    font-weight: 800;
    margin: 0;
  }
}
.headlineStack__listContainer {
  .headlineStack__list {
    padding: 12px 0;
    li {
      font-size: 12px;
      line-height: 16px;
      overflow: hidden;
      &:last-child {
        a {
          border: none;
        }
      }
      a {
        color: #000;
        font-weight: 500;
        border-bottom: #dcdddf 1px solid;
        padding: 7px 0;
        max-width: 100vw;
        white-space: initial;
        display: block;
        text-overflow: ellipsis;
        max-height: 384px;
        overflow: hidden;
        &:hover {
          color: #06c;
        }
      }
    }
  }
}
