.carouselContainer {
  margin: 0 auto;
  max-width: 1400px;
  .scoreboard_content {
    .scoreboard_dropdown_wrapper {
      color: #48494a;
      float: left;
      min-width: 120px;
      padding: 18px 7px 0 10px;
      position: relative;
    }
  }
}
