.pageLayout {
  background: #edeef0;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 16px;
  max-width: 1160px;
  width: 100%;
  padding-top: 20px;
  .col_one{
    width: 100%;
    .card__heading {
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .card__headline {
        color: #2b2c2d;
        display: inline-block;
        margin: 0;
      }
      .card__dropdown {
        background-color: #fbfbfb;
        border: 1px solid #cbccce;
        border-radius: 40px;
        display: inline-block;
        position: relative;
        z-index: 0;
        &:hover {
          background-color: #fff;
        }
        &:after {
          position: absolute;
          content: "";
          display: inline-block;
          border: solid #06c;
          border-width: 0 1px 1px 0;
          padding: 3px;
          transform: rotate(45deg);
          margin-left: 14px;
          top: 33%;
          right: 10px;
        }
        .card__dropdown__select {
          width: 126px;
          text-overflow: ellipsis;
          appearance: none;
          background-color: initial;
          border: 0;
          cursor: pointer;
          font-size: 12px;
          height: 30px;
          line-height: normal;
          padding: 0 30px 0 15px;
          text-transform: none;
          color: #2b2c2d;
          width: 140px;
        }
      }
    }
    .date__picker {
      margin: 12px -12px -12px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      position: relative;
      height: 50px;
      -webkit-box-flex: 1;
      .datePicker__wrapper {
        display: flex;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        .date__Carousel {
          padding: 0 40px;
          position: relative;
          width: calc(100% - 50px);
          .arrow__button {
            outline: none;
            background: none;
            border: 0;
            cursor: pointer;
            height: 50px;
            padding: 0;
            //margin: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 40px;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: none;
            overflow: visible;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
          }
          .left__button {
            left: 0;
            &:after {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5px 3px;
              border-color: transparent transparent transparent #06c;
              transform: translateY(-50%) rotate(180deg);
            }
          }
          .right__button {
            right: 0;
            &:before {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5px 3px;
              border-color: transparent transparent transparent #06c;
              transform: translateY(-50%);
            }
          }
          .react__swipe__container {
            overflow: hidden;
            visibility: visible;
            position: relative;
            display: block;
            .container {
              overflow: hidden;
              position: relative;
              width: auto;
              .week {
                width: 100%;
                position: relative;
                transition-property: transform;
                //left: -19250px;
                transition-duration: 0ms;
                transform: translate(0px, 0px) translateZ(0px);
                display: inline-block;
                height: 50px;
                text-transform: uppercase;
                .Week__wrapper {
                  display: flex;
                  height: 100%;
                  justify-content: space-around;
                  position: relative;
                  .day {
                    animation: fadeIn 1s ease-in-out forwards;
                    align-items: center;
                    border-radius: 4px;
                    color: #48494a;
                    cursor: pointer;
                    display: flex !important;
                    flex-grow: 1;
                    font-size: 12px;
                    font-weight: 400;
                    justify-content: center;
                    margin: 4px 0;
                    min-height: 42px;
                    text-align: center;
                    .day__Container {
                      border-radius: 4px;
                      padding: 4px;
                      .day__Name {
                        margin: 0;
                        .day__Number {
                          display: block;
                          font-size: 10px;
                          font-weight: 400;
                        }
                      }
                    }
                    &:hover {
                      font-weight: 700;
                    }
                    &:focus {
                      background-color: #d8d8d8;
                      box-shadow: 0 0 4px 0 #06c;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .calendar__container {
        display: flex;
        align-items: center;
        .DateCarousel__MonthTrigger {
          outline: none;
          background-color: initial;
          border: 0;
          border-left: 1px solid #edeef0;
          border-radius: 0;
          cursor: pointer;
          transition: all 0.23s ease-in-out;
          text-transform: none;
          overflow: visible;
          padding-right: 14px;
          .calendar__icon{
            color: #6c6d6f;
          }
        }
      }
    }
    .ScheduleTables {
      margin-top: 16px;
      margin-bottom: 16px;
      .ResponsiveTable {
        background-color: #fff;
        .Table__Title {
          color: #2b2c2d;
          font-size: 16px;
          font-weight: 600;
          line-height: 21px;
          margin-bottom: 8px;
          margin-top: 8px;
          position: relative;
          text-align: left;
        }
        .flex {
          display: flex;
          .Table__ScrollerWrapper {
            width: 100%;
            position: relative;
            overflow: hidden;
            .Table__Scroller {
              overflow-x: auto;
              overflow-y: hidden;
              position: relative;
              vertical-align: top;
              white-space: nowrap;
              width: 100%;
              .Table {
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0px;
                .Table__THEAD {
                  display: table-header-group;
                  vertical-align: middle;
                  border-color: inherit;
                  .Table__TR {
                    display: table-row;
                    .Table__TH {
                      border-bottom: 1px solid #dcdddf;
                      border-top: 1px solid #dcdddf;
                      color: #48494a;
                      font-size: 11px;
                      height: 24px;
                      line-height: 15px;
                      text-transform: uppercase;
                      display: table-cell;
                      font-variant-numeric: tabular-nums;
                      padding: 4px 4px 3px;
                      vertical-align: middle;
                      white-space: nowrap;
                      text-align: left;
                      &:first-child {
                        padding-left: 65px;
                        text-align: center;
                      }
                    }
                  }
                }
                .Table__TBODY {
                  display: table-row-group;
                  .Table__even {
                    &:nth-child(2n) {
                      background: rgba(0, 0, 0, 0.02);
                    }
                    .Table__TD {
                      vertical-align: top;
                      height: 28px;
                      border-bottom: 1px solid #f1f2f3;
                      font-size: 12px;
                      line-height: 19px;
                      color: #6c6d6f;
                      display: table-cell;
                      font-variant-numeric: tabular-nums;
                      padding: 4px 4px 3px;
                      text-align: left;
                      white-space: nowrap;
                      .matchTeams {
                        .Table__Team {
                          display: flex;
                          align-items: center;
                          &.away {
                            display: flex;
                            justify-content: end;
                            flex-direction: row-reverse;
                          }
                          a {
                            color: #06c;
                            cursor: pointer;
                            text-decoration: none;
                            &:hover {
                              color: #004d9a;
                            }
                            img {
                              margin: -5px 6px -4px;
                              height: 20px;
                              width: 20px;
                            }
                          }
                        }
                      }
                      .local {
                        display: flex;
                        align-items: center;
                        a {
                          color: #06c;
                          cursor: pointer;
                          text-decoration: none;
                          margin-right: 0;
                          min-width: 50px;
                          text-align: center;
                          &:hover {
                            color: #004d9a;
                          }
                          img {
                            margin: -5px 6px -4px;
                            height: 20px;
                            width: 20px;
                          }
                        }
                      }
                    }
                    .events__col {
                      width: 25%;
                    }
                    .colspan__col {
                      width: 25%;
                    }
                    .date__col {
                      width: 15%;
                      a {
                        color: #06c;
                        cursor: pointer;
                        text-decoration: none;
                        &:hover {
                          color: #004d9a;
                        }
                      }
                    }
                    .broadcast__col {
                      width: 7%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.footer{
  width: 1240px;
  margin: 0 auto;
  padding: 10px;
}