.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Adjust the value as needed */
}

.main {
  display: flex;
  flex-direction: row;
  margin: 0 100px;
  min-height: 100vh;
  padding: 0 10px;
  position: relative;
}
.col_one {
  margin-right: 20px;
  width: 220px;
  float: left;
}
.col_two {
  width: 660px;
}
.col_three {
  margin-left: 20px;
}
.scoreboard {
  display: flex;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #a5a6a7;
  gap: 20px;
}