.dropdown__container {
  .dropdown__box {
    background: #fff;
    padding: 10px;
    width: 150px;
    &.blueVariant {
      padding: 6px;
    }
    cursor: pointer;
    .dropdown__box__item {
      border: 0;
      font: inherit;
      font-size: 100%;
      vertical-align: baseline;
      display: list-item;
      .dropdown__box__item__link {
        border-radius: 3px;
        color: #6c6d6f;
        display: block;
        font-size: 13px;
        font-weight: 400;
        height: auto;
        line-height: 160%;
        padding: 10px;
        position: relative;
        text-align: left;

        &:hover {
          background-color: #d00;
          color: #fff;
        }
      }
    }
    &.blueVariant {
      .dropdown__box__item__link {
        color: #000000;
        font-weight: 400;
        font-size: 11px;

        &:hover {
          background-color: #305bc8;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
