.date__picker {
  margin: 12px -12px -12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  height: 50px;
  -webkit-box-flex: 1;
  .datePicker__wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    .date__Carousel {
      padding: 0 40px;
      position: relative;
      width: calc(100% - 50px);
      .arrow__button {
        outline: none;
        background: none;
        border: 0;
        cursor: pointer;
        height: 50px;
        padding: 0;
        //margin: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: none;
        overflow: visible;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
      }
      .left__button {
        left: 0;
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 3px;
          border-color: transparent transparent transparent #06c;
          transform: translateY(-50%) rotate(180deg);
        }
      }
      .right__button {
        right: 0;
        &:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 3px;
          border-color: transparent transparent transparent #06c;
          transform: translateY(-50%);
        }
      }
      .swipe__container {
        overflow: hidden;
        visibility: visible;
        position: relative;
        display: block;
        .container {
          overflow: hidden;
          position: relative;
          width: auto;
          .week {
            width: 100%;
            position: relative;
            transition-property: transform;
            //left: -19250px;
            transition-duration: 0ms;
            transform: translate(0px, 0px) translateZ(0px);
            display: inline-block;
            height: 50px;
            text-transform: uppercase;
            .Week__wrapper {
              display: flex;
              height: 100%;
              justify-content: space-around;
              position: relative;
              margin-top: -5px;
              .day {
                animation: fadeIn 1s ease-in-out forwards;
                align-items: center;
                border-radius: 4px;
                color: #48494a;
                cursor: pointer;
                display: flex !important;
                flex-grow: 1;
                font-size: 12px;
                font-weight: 400;
                justify-content: center;
                margin: 4px 0;
                min-height: 42px;
                text-align: center;
                .day__Container {
                  border-radius: 4px;
                  padding: 4px;
                  .day__Name {
                    margin: 0;
                    .day__Number {
                      display: block;
                      font-size: 10px;
                      font-weight: 400;
                    }
                  }
                }
                .day__Container.currentDate {
                  color: #151617;
                  font-weight: 700;
                }
                &:hover {
                  font-weight: 700;
                }
                &:focus {
                  background-color: #d8d8d8;
                  box-shadow: 0 0 4px 0 #06c;
                }
              }
            }
          }
        }
      }
    }
    .calendar__container {
      .DateCarousel__MonthTrigger {
        outline: none;
        background-color: initial;
        border: 0;
        border-left: 1px solid #edeef0;
        border-radius: 0;
        cursor: pointer;
        transition: all 0.23s ease-in-out;
        text-transform: none;
        overflow: visible;
        padding-right: 14px;
        padding-top: 5px;
        .calendar__icon {
          color: #6c6d6f;
        }
      }
      > div {
        position: absolute;
        border: none;
        right: 0;
        top: 50px;
        box-shadow: 0 0 3px 3px #edeef0;
        z-index: 1;
      }
    }
  }
}
