.pageLayout {
  background: #edeef0;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 16px;
  max-width: 1160px;
  width: 100%;
  padding-top: 20px;
  .col_one {
    width: 100%;
    .card__heading {
      margin-bottom: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .card__headline {
        color: #2b2c2d;
        display: inline-block;
        margin: 0;
      }
      .card__dropdown {
        background-color: #fbfbfb;
        border: 1px solid #cbccce;
        border-radius: 40px;
        display: inline-block;
        position: relative;
        z-index: 0;
        &:hover {
          background-color: #fff;
        }
        &:after {
          position: absolute;
          content: "";
          display: inline-block;
          border: solid #06c;
          border-width: 0 1px 1px 0;
          padding: 3px;
          transform: rotate(45deg);
          margin-left: 14px;
          top: 33%;
          right: 10px;
        }
        .card__dropdown__select {
          width: 126px;
          text-overflow: ellipsis;
          appearance: none;
          background-color: initial;
          border: 0;
          cursor: pointer;
          font-size: 12px;
          height: 30px;
          line-height: normal;
          padding: 0 30px 0 15px;
          text-transform: none;
          color: #2b2c2d;
        }
      }
    }
    .Card__Header {
      align-items: center;
      color: #121213;
      display: flex;
      justify-content: space-between;
      margin-left: 16px;
      margin-right: 12px;
      padding: 16px 0 15px;
      .Card__Header__Title__Wrapper {
        flex-direction: column;
        flex-grow: 1;
        text-align: left;
        .Card__Header__Title {
          color: #151617;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          margin: 0;
        }
      }
    }

    .Card__League__Header {
      .AnchorLink {
        cursor: pointer;
        text-decoration: none;
        .Card__Header__Title__Wrapper {
          .Card__Header__Title {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin: 0;
            padding-bottom: 16px;
            color: #151617;
            &:hover {
              color: #06c;
            }
          }
        }
      }
    }
    .scoreboard {
      position: relative;
      display: flex;
      flex-direction: row;
      min-height: 0;
      min-width: 0;
      justify-content: space-between;
      background-color: #fff;
      border-top: 1px dotted #dcdddf;
      .Scoreboard__RowContainer {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        min-height: 0;
        min-width: 0;
        .Scoreboard__Row {
          flex-grow: 1;
          width: 100%;
          display: flex;
          //   justify-content: space-between;
          .Scoreboard__Column {
            min-height: 0;
          }
          .Scoreboard__Column__1 {
            flex: 1 0 auto;
            .ScoreboardScoreCell {
              padding: 12px 12px 12px 0;
              .ScoreboardScoreCell__Overview {
                padding-bottom: 8px;
                display: flex;
                width: 100%;
                .ScoreCell__Time {
                  text-transform: uppercase;
                  color: #48494a;
                  font-size: 11px;
                  line-height: 13px;
                  font-weight: 600;
                }
                .ScoreCell__Network {
                  display: flex;
                  color: #48494a;
                  justify-content: flex-end;
                  font-size: 11px;
                  line-height: 13px;
                  font-weight: 400;
                  &:before {
                    content: "-";
                    margin: 0 3px;
                  }
                  .ScoreCell__NetworkItem {
                    &:last-child:before {
                      content: "/";
                    }
                  }
                }
              }
              .ScoreboardScoreCell__Competitors {
                .ScoreboardScoreCell__Item {
                  padding-bottom: 4px;
                  position: relative;
                  display: flex;
                  align-items: center;
                  color: #000;
                  .AnchorLink {
                    color: #06c;
                    cursor: pointer;
                    text-decoration: none;
                    margin-right: 8px;
                    .Logo {
                      height: 32px;
                      width: 32px;
                      max-width: none;
                      margin: 0;
                      position: relative;
                    }
                  }
                  .ScoreCell__Team {
                    display: flex;
                    flex-direction: column;
                    flex: 1 0 auto;
                    align-items: flex-start;
                    width: calc(100% - 60px);
                    padding-right: 4px;
                    .ScoreCell__Truncate {
                      max-width: 100%;
                      overflow: hidden;
                      color: #151617;
                      display: flex;
                      align-items: center;
                      font-size: 14px;
                      line-height: 19px;
                      font-weight: 600;
                      a {
                        color: #151617;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-decoration: none;
                        &:hover {
                          color: #06c;
                        }
                      }
                    }
                    .ScoreboardScoreCell__RecordContainer {
                      color: #6c6d6f;
                      font-size: 11px;
                      line-height: 13px;
                      font-weight: 400;
                      white-space: nowrap;
                    }
                  }
                }
              }
            }
          }
          .Scoreboard__Column__2 {
            flex: 1 0 auto;
            border-left: 1px dotted #edeef0;
            margin-bottom: 12px !important;
            margin-top: 12px !important;
            padding-left: 8px !important;
            padding-right: 8px !important;
            .ScoreboardEventInfo {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              height: 100%;
              width: 100%;
              .LocationDetail {
                padding-bottom: 8px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #6c6d6f;
                font-size: 11px;
                line-height: 13px;
                .LocationDetail__Item {
                  font-weight: 700;
                }
                .LocationDetail__Sub__Item {
                  font-weight: 400;
                }
              }
              .Event__rate {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .Odds__Message {
                  color: #48494a;
                  font-size: 11px;
                  line-height: 13px;
                  padding-bottom: 2px;
                  padding-right: 8px;
                  padding-top: 2px;
                  width: 80%;
                }
              }
            }
          }
          .Scoreboard__Column__3 {
            flex: 1 0 auto;
            border-left: 1px dotted #edeef0;
            margin-bottom: 12px !important;
            margin-top: 12px !important;
            padding-left: 8px !important;
            padding-right: 8px !important;
            .TeamInformation {
              .ContentList {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .ContentList__Item {
                  .TeamLinks {
                    display: flex;
                    align-items: center;
                    .AnchorLink {
                      cursor: pointer;
                      text-decoration: none;
                      h2 {
                        display: flex;
                        align-items: center;
                        color: #151617;
                        margin: 0;
                        padding: 0;
                        font-size: 12px;
                        line-height: 16px;
                        font-weight: 600;
                        img {
                          height: 16px;
                          width: 16px;
                        }
                        span {
                          padding-left: 4px;
                        }
                        &:hover {
                          color: #06c;
                        }
                      }
                    }
                    .TeamLinks__Links {
                      .TeamLinks__Link {
                        font-size: 11px;
                        line-height: 13px;
                        font-weight: 400;
                        white-space: nowrap;
                        a {
                          color: #06c;
                        }
                        &:nth-child(2)::before {
                          content: " | ";
                          color: #dcdddf;
                        }
                        &:last-child:before {
                          content: " | ";
                          color: #dcdddf;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .Action__Button {
        display: flex;
        flex-direction: column;
        margin: 12px 0;
        gap: 12px;
      }
    }
  }
  .col_two {
    width: 300px;
  }
}
.footer {
  width: 1240px;
  margin: 0 auto;
  padding: 10px;
}
